<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/css/base.css">
</head>

<body>

    <header class="header">
        <div class="logo">
            <a href="#" >
                AskPupkin
            </a>
        </div>
        <div class="search-form">
            <form action="#">
                <input class="search-form-input" type="text" placeholder="Search">
                <button class="search-form-button">Ask!</button>
            </form>
        </div>
        <div class="account">
            <div class="account-image">
                <img src="./image.jpg" alt="Image">
            </div>
            <div class="account-content">
                <div class="account-name">Dr. Pepper</div>
                <div class="account-actions">
                    <a href="./settings.html">Settings</a>
                    <a href="./logout.html">Log out</a>
                </div>
            </div>
        </div>
    </header>
</article>

<main class="container">
    <div class="title-bar">
        <h1>New questions</h1>
    </div>
    <div class="content">
        <div class="cards">
        <div class="title-form">
            <p>Title</p>
            <form action="#">
                <input class="title-form-input" type="text">
            </form>
        </div>
        <div class="title-form">
            <p>Text</p>
            <form action="#">
                <input class="text-form-input" type="text">
            </form>
        </div>
    
        <div class="title-form">
            <p>Tags</p>
            <form action="#" class="tags-form">
                <input class="title-form-input" type="text">
                <button class="ask-form-button">Ask!</button>
            </form>
            
        </div>
           
        </div>
        

        <aside class="sidebar">
        <section class="popular-tags">
        <h2>Popular Tags</h2>
        <div class="tags">
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <br>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <br>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
    </div>
</section>
<section class="best-members">
    <h2>Best Members</h2>
    <ul class="best-members-list">
        <li><a href="#">Member</a></li>
        <li><a href="#">Member</a></li>
        <li><a href="#">Member</a></li>
        <li><a href="#">Member</a></li>
        <li><a href="#">Member</a></li>
    </ul>
</section>
</aside>

</div>
</main>

</body>

</html>