<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/css/base.css">
</head>

<body>

    <header class="header">
        <div class="logo">
            <a href="#" >
                AskPupkin
            </a>
        </div>
        <div class="search-form">
            <form action="#">
                <input type="text" class="search-form-input" placeholder="Введите ваш запрос" required>
            </form>
        </div>
        <a href="add.html" class="ask-form-button">ASK!</a>
        <div class="account">
            <div class="account-image">
                <img src="./image.jpg" alt="Image">
            </div>
            <div class="account-content">
                <div class="account-name">Dr. Pepper</div>
                <div class="account-actions">
                    <a href="./settings.html">Settings</a>
                    <a href="./logout.html">Log out</a>
                </div>
            </div>
        </div>
    </header>

<main class="container">
<div class="content">
    <div class="cards">
        <article class="question">
            <div class="card-left">
                <img src="./image.jpg" alt="Image" class="card-image">
                <input type="number" class="card-likes" value="5">
            </div>

            <div class="card-right">
                <div class="card-right-content">
                    <h2 class="card-title">Title of question</h2>

                    <div class="card-text">Text of question</div>
                </div>
                    <div class="card-tags">
                        Tags: 
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                    </div>
            </div>

        </article>
        <hr color="black" width="100%">
        <article class="card">
            <div class="card-left">
                <img src="./image.jpg" alt="Image" class="ans-image">
                <input type="number" class="ans-likes" value="5">
            </div>
        
            <div class="card-right">
                <div class="card-right-content">
                    <div class="card-text">Text here</div>
                </div>
        
                <div class="ans-right-bottom">
                    <input type="checkbox" id="checkbox-correct1">
                    <label for="checkbox-correct1">Correct!</label>
                </div>
            </div>
        </article>

        <article class="card">
            <div class="card-left">
                <img src="./image.jpg" alt="Image" class="ans-image">
                <input type="number" class="ans-likes" value="3">
            </div>

            <div class="card-right">
                <div class="card-right-content">
                    
                    <div class="card-text">Text here</div>
                </div>

                <div class="ans-right-bottom">
                    <input type="checkbox" id="checkbox-correct2">
                    <label for="checkbox-correct2">Correct!</label>
                </div>
            </div>

        </article>
        <hr color="black" width="100%">
        <div class="your-ans-form">
            <form action="#" class="button-form">
                <input class="ans-form-input" type="text" placeholder="Enter your answer">
                <button class="ask-form-button">Answer</button>
            </form>
        </div>
    </div>

    <aside class="sidebar">
        <section class="popular-tags">
        <h2>Popular Tags</h2>
        <div class="tags">
        <a href="#">Tag</a> 
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <br>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <br>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
    </div>
</section>
<section class="best-members">
    <h2>Best Members</h2>
    <ul class="best-members-list">
        <li><a href="#">Member</a></li>
        <li><a href="#">Member</a></li>
        <li><a href="#">Member</a></li>
        <li><a href="#">Member</a></li>
        <li><a href="#">Member</a></li>
    </ul>
</section>
</aside>

</div>
</main>
<footer class="foot">
    AskPupkin
</footer>
</body>

</html>