<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/css/base.css">
</head>

<body>

    <header class="header">
        <div class="logo">
            <a href="#" >
                AskPupkin
            </a>
        </div>
        <div class="search-form">
            <form action="#">
                <input type="text" class="search-form-input" placeholder="Введите ваш запрос" required>
            </form>
        </div>
        <a href="add.html" class="ask-form-button">ASK!</a>
        <div class="account">
            <div class="account-image">
                <img src="./image.jpg" alt="Image">
            </div>
            <div class="account-content">
                <div class="account-name">Dr. Pepper</div>
                <div class="account-actions">
                    <a href="./settings.html">Settings</a>
                    <a href="./logout.html">Log out</a>
                </div>
            </div>
        </div>
    </header>
</article>

<main class="container">
    <div class="title-bar">
        <h1>Settings: user name</h1>
    </div>
    <div class="content">
        <div class="cards">
            <form>
            <div class="frm">
                <label class="txt">Login</label>
                <input class="login-form-input" type="text" placeholder="Enter your login here">
            </div>
            <div class="frm">
                <label class="txt">Email</label>
                <input class="login-form-input" type="text" placeholder="Enter your email here">
            </div>
            <div class="frm">
                <label class="txt">NickName</label>
                <input class="login-form-input" type="text" placeholder="Enter your nickname here">
            </div>
            <div class="frm">
                <label class="txt">Upload avatar</label>
                <img src="./image.jpg" alt="Image" class="set-image">
            </div>
    
            <div class="txt">
                <input type="file"  multiple />
              </div>
              <div>
                <button class="log-form-button">Submit</button>
              </div>
            
            </form>
          
        </div>
        

        <aside class="sidebar">
        <section class="popular-tags">
        <h2>Popular Tags</h2>
        <div class="tags">
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <br>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <br>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
        <a href="#">Tag</a>
    </div>
</section>
<section class="best-members">
    <h2>Best Members</h2>
    <ul class="best-members-list">
        <li><a href="#">Member</a></li>
        <li><a href="#">Member</a></li>
        <li><a href="#">Member</a></li>
        <li><a href="#">Member</a></li>
        <li><a href="#">Member</a></li>
    </ul>
</section>
</aside>

</div>
</main>
<footer class="foot">
    AskPupkin
</footer>
</body>

</html>